#nav-bar {
  position: fixed;
  height: 80px;
  width: 100vw;
  top: 0;
  color: black;
  background-color: #fffe8d; 
  padding: 0px 2em 0px 2em;
  z-index: 2;
}

#nav-bar .logo {
  float: left;
  padding-bottom: 1em;
  height: 10em;
  width: 8em;
}

#nav-bar .header {
  line-height: 2.5em;
  font-size: 300%;
}

