#tweet-container {
  box-sizing: border-box;
  margin-top: 2em;
  border-radius: 1em;  
}

.tweet header {
  padding: 0.5em 0em 0.5em 0em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding-bottom: 1em;
  display: flex;  
  border-bottom: 2px solid darkgrey;
  background-color: #fffe8d;
}

.avatar {
  border-radius: 1em;
  margin: 1em 1em 0.5em 1em;
  flex-basis: 25%;
  border: 2px solid darkgray;
}

.username {
  margin: 1em 3em 0em 0em;
  flex-basis: 75%;
  font-size: large;
}

.handle {
  margin: 3em 0.5em 0.5em 0em;
  padding-left: 2em;
  font-size: medium;
  flex-basis: 25%;
}

.like {
  height: 1em;
  width: 1em;
  margin: 1em 1em 0em 0em;
  display: none;
}

.retweet {
  height: 1em;
  width: 1em;
  margin: 1em 1em 0em 0em;
  display: none;
}

.flag {
  height: 0.5em;
  width: 0.5em;
  margin: 1.25em 1em 0em 0em;
  display: none;
}

.tweet p {
  margin-left: 1em;
  flex-basis: 90%;
}

.tweet footer {
  display: flex;
}

.created {
  margin-left: 0.5em;
}

.tweet {
  border: 2px solid darkgray;
  border-radius: 10px;
  margin-bottom: 2em;
  opacity: 0.5;
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover img.like {
  opacity: 1;
  display: block;
}

.tweet:hover img.retweet {
  opacity: 1;
  display: block;
}

.tweet:hover img.flag {
  opacity: 1;
  display: block;
}

.button {
  border-radius: 0.5em;
  border: 1px solid darkgray;
}

.content {
  opacity: 1;
  font-size: 1.5em;
}

.text {
  padding: 1em 0em 0em 0.5em;
  font-size: large;
}