#tweet-container {
  box-sizing: border-box;
  margin-top: 2em;
  border-radius: 1em;
  
}

.tweet header {
  background-color: #fffe8d;;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding-bottom: 1em;
  display: flex;  
}

.avatar {
  border-radius: 1em;
  margin: 1em 1em 0.5em 1em;
  flex-basis: 25%;
}

.username {
  margin-top: 1em;
  flex-basis: 75%;
  margin-right: 3em;
  font-size: large;
}

.handle {
  margin: 2em 0.5em 0.5em 0em;
  padding-left: 3em;
  margin-top: 1em;
  font-size: medium;
  flex-basis: 25%;
}

.like {
  height: 1em;
  width: 1em;
  margin-right: 1em;
  margin-top: 1em;
  display: none;
}

.retweet {
  height: 1em;
  width: 1em;
  margin-right: 1em;
  margin-top: 1em;
  display: none;
}

.flag {
  height: 1em;
  width: 1em;
  margin-right: 1em;
  margin-top: 1em;
  display: none;
}


.tweet p {
  margin-left: 1em;
  flex-basis: 90%;
}

.tweet footer {
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
}

.created {
  margin-left: 0.5em;
}


.tweet {
  border: 2px solid darkgray;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 30px;
  opacity: 0.5;
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover img.like {
  opacity: 1;
  display: block;
}

.tweet:hover img.retweet {
  opacity: 1;
  display: block;
}

.tweet:hover img.flag {
  opacity: 1;
  display: block;
}

.button {
  border-radius: 0.5em;
}