#tweet-container {
  box-sizing: border-box;
  margin-top: 2em;
  border-radius: 10px;
  border: 0.5px solid darkgray;
}

.tweet header{
  background-color: #f1f1f1;
  padding-top: 1em;
  margin-top: 0;
  margin-left: 1px;
  margin-top: 1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 3em;

}

.tweet header > p {
  float: right;
  margin-right: 1em;
}

#tweet-container .tweet p{
  display: inline-block;
}

#tweet-container .tweet footer:before {
        content:' ';
        display:block;
        border:0.5px solid darkgray;
    }

.tweet p {
  margin-left: 5px;
}

.tweet footer {
  margin-left: 5px;
  margin-bottom: 5px;
}

.tweets:hover > div {
  opacity: 0.5;
}

#icons {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
}


